<?xml version="1.0"?>
<rss version="2.0">
  <channel>
    <title>menschenskind blog</title>
    <link>http://blog.mknd.net/</link>
    <description>mknd.net - menschenskind blog rss feed</description>
    <language>de-de</language>
    <lastBuildDate>{lastbuild}</lastBuildDate>
    {item}
  </channel>
</rss>
